<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Dev/FirstProjectSelenium/src/test/java/OneTestOneclass/TestClass01.java">
    <classes>
        <class name="OneTestOneclass.TestClass01">
            <methods>
                <include name="montest1"/>
            </methods>
        </class>
    </classes>
</test>
</suite>